<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="perseus_lite" params="prefix">
    <!-- Import components -->
    <xacro:include filename="$(find perseus_lite_description)/urdf/chassis.urdf.xacro"/>
    <xacro:include filename="$(find perseus_lite_description)/urdf/rocker.urdf.xacro"/>
    <xacro:include filename="$(find perseus_lite_description)/urdf/sensors.urdf.xacro"/>

    <link name="${prefix}base_link"/>

    <!-- CHASSIS -->
    <xacro:chassis />
    <joint name="${prefix}chassis_joint" type="fixed">
      <origin xyz="0.0 0.0 0.15" rpy="0.0 0.0 0.0"/>
      <parent link="${prefix}base_link"/>
      <child link="${prefix}chassis"/>
    </joint>

    <!-- ROCKER ARMS -->
    <!-- LEFT -->
    <xacro:rocker side="left">
      <origin xyz="-0.0375 0.1375 0.025" rpy="0.0 0.0 0.0"/>
    </xacro:rocker>
    <!-- RIGHT -->
    <xacro:rocker side="right">
      <origin xyz="-0.0375 -0.1375 0.025" rpy="0.0 0.0 0.0"/>
    </xacro:rocker>
    <xacro:sensors>
    </xacro:sensors>
  </xacro:macro>
</robot>
