<?xml version="1.0"?>
<robot name="wheel" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="wheel" params="prefix:=^ side:=^ end:=^">
    <link name="${prefix}${end}_${side}_wheel">
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="0.005"/>  <!-- Scaled mass -->
        <inertia ixx="0.006434" iyy="0.003644" izz="0.003644" 
                 ixy="0.0" iyz="0.0" ixz="0.0"/>
      </inertial>

      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${-pi/2}"/>
        <geometry>
          <mesh scale="0.1 0.1 0.1" filename="file://$(find perseus_lite_description)/meshes/wheel.dae"/>
        </geometry>
      </visual>

      <collision>
        <origin xyz="0.0 -0.0075 0.0" rpy="1.570796 0.0 ${-pi/2}"/>
        <geometry>
          <cylinder length="0.0575" radius="0.0725" />
        </geometry>
      </collision>
    </link>

    <!-- WHEEL -->
    <joint name="${prefix}${end}_${side}_wheel_joint" type="continuous">
      <xacro:if value="${side == 'left'}">
        <axis xyz="0 0 -1"/>
      </xacro:if>
      <xacro:if value="${side == 'right'}">
        <axis xyz="0 0 -1"/>
      </xacro:if>
      <parent link="${prefix}${end}_${side}_motor"/>
      <child link="${prefix}${end}_${side}_wheel"/>
      <origin xyz="0.0 -0.09 0.0" rpy="0.0 ${pi/2} ${-pi/2}"/>
      <dynamics damping="0.5" friction="0.5"/>
    </joint>
  
  <transmission name="${prefix}${end}_${side}_wheel_trans">
    <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}${end}_${side}_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/> 
        <state_interface name="temperature"/>
      </joint>
      <actuator name="${prefix}${end}_${side}_wheel_motor">
        <mechanical_reduction>1.0</mechanical_reduction>
      </actuator>
    </transmission>

  </xacro:macro>
</robot>