<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="perseus" params="prefix">
    <!-- Import components -->
    <xacro:include filename="$(find perseus_description)/urdf/chassis.urdf.xacro"/>
    <xacro:include filename="$(find perseus_description)/urdf/rocker.urdf.xacro"/>
    <xacro:include filename="$(find perseus_description)/urdf/sensors.urdf.xacro"/>

    <link name="${prefix}base_link"/>

    <joint name="base_footprint_joint" type="fixed">
        <parent link="base_link"/>
        <child link="base_footprint"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="${prefix}base_footprint"/>

    <!-- CHASSIS -->
    <xacro:chassis />
    <joint name="${prefix}chassis_joint" type="fixed">
      <origin xyz="0.21 0.0 0.35" rpy="0.0 0.0 -${pi/2}"/>
      <parent link="${prefix}base_link"/>
      <child link="${prefix}chassis"/>
    </joint>

    <!-- ROCKER ARMS -->
    <!-- LEFT -->
    <xacro:rocker side="left">
      <origin xyz="-0.275 -0.075 0.05" rpy="0.0 0.0 ${-pi/2}"/>
    </xacro:rocker>
    <!-- RIGHT -->
    <xacro:rocker side="right">
      <origin xyz="0.275 -0.075 0.05" rpy="0.0 0.0 ${-pi/2}"/>
    </xacro:rocker>
    <xacro:sensors>
    </xacro:sensors>
  </xacro:macro>
</robot>
