<?xml version="1.0"?>
<robot name="rocker" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find perseus_description)/urdf/motor_wheel.urdf.xacro"/>

  <xacro:macro name="rocker" params="prefix:=^ side *origin">
    <!-- ROCKER ARM -->
    <link name="${prefix}${side}_rocker">
      <inertial>
        <origin xyz="0.011819187400851083 -0.08337339654014758 -0.06739096070989994" rpy="0.0 0.0 0.0"/>
        <!-- RIGHT -->
        <xacro:if value="${side == 'right'}">
          <inertia ixx="0.078224" iyy="0.009964" izz="0.076528" ixy="0.003701" iyz="-0.006846" ixz="0.00298"/>
        </xacro:if>
        <!-- LEFT -->
        <xacro:if value="${side == 'left'}">
          <inertia ixx="0.078224" iyy="0.009964" izz="0.076528" ixy="0.003701" iyz="-0.006846" ixz="0.00298"/>
        </xacro:if>
        <mass value="1.2546142039512485"/>
      </inertial>

      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
          <mesh scale="0.1 0.1 0.1" filename="file://$(find perseus_description)/meshes/rocker_${side}.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.2 0.0 -0.05" rpy="0.0 0.3 0.0"/>
        <geometry>
          <box size="0.4 0.05 0.03" />
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}${side}_rocker_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${prefix}chassis"/>
      <child link="${prefix}${side}_rocker"/>
    </joint>

    <!-- FRONT MOTOR -->
    <xacro:motor_wheel end="front">
      <xacro:if value="${side == 'left'}">
        <origin xyz="-0.3 -0.225 -0.25" rpy="0.0 0.0 ${-pi/2}"/>
      </xacro:if>
      <xacro:if value="${side == 'right'}">
        <origin xyz="-0.3 0.225 -0.25" rpy="0.0 0.0 ${pi/2}"/>
      </xacro:if>
    </xacro:motor_wheel>
    
    <!-- REAR MOTOR -->
    <xacro:motor_wheel end="rear">
      <xacro:if value="${side == 'left'}">
        <origin xyz="0.55 -0.225 -0.25" rpy="0.0 0.0 ${-pi/2}"/>
      </xacro:if>
      <xacro:if value="${side == 'right'}">
        <origin xyz="0.55 0.225 -0.25" rpy="0.0 0.0 ${pi/2}"/>
      </xacro:if>
    </xacro:motor_wheel>
  </xacro:macro>
</robot>